#header {
  background-color: #dcfcee;
  font-size: 1.4em;
  padding: 0.7em;
}

#menu {
  background-color: #0f964c;
  font-size: 1.1em;
  padding: 0.3em;
}

#menu a {
  margin: 0 2em;
  text-decoration: none;
  color: inherit;
}

#mainTitle,
#icon {
  font-weight: bold;
  margin: 0em 2em 0em 2em;
  text-decoration: none;
  color: #0f964c;
}

#home.main {
  max-width: 1000px;
  padding: 10px 2em 10px 2em;
  margin: 0 auto;
}

.right {
  float: right;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  align-items: flex-start;
}

#page.main {
  max-width: 1000px;
  padding: 10px 2em 10px 2em;
  margin: 0 auto;
  flex: 1;
}

.sidebar {
  font-size: 1.1em;
  border-right: solid;
  border-color: #0f964c;
  border-width: 1px;
  width: 150px;
  padding-top: 10px;
}

.sidebar a {
  text-decoration: none;
  padding: 6px 26px 6px 26px;
  display: block;
  color: inherit;
  margin: 0.5em 0em;
}

.sidebar a:hover {
  background-color: #dcfcee;
}

.sidebar a:active {
  font-weight: bold;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

p a:link {
  color: inherit;
}

p a:hover {
  color: #dcfcee;
}

p a:visited {
  color: #0f964c;
}

p a:active {
  font-weight: bold;
}
